
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;  
  z-index: 100;    
  width: 80%;
  top: 0;           
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
  padding: 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#playertype-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr)); 
  gap: 15px; 
  transition: opacity 15s ease-out;
}

.player-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.player-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-card img {
  width: 100%; 
  height: auto;
  max-height: 200px;
  object-fit: cover;
  object-position: center top;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.player-card:hover img {
  opacity: 0.3;
}

.player-name {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}

.player-card:hover .player-name {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.player-details p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.player-details {
  padding: 0.5rem 0.7rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

.player-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info-text {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.password {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 0.2rem;
}

.btn-container {
  display: none;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 456px) {
  .grid-container {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
  }

  .login-container form {
    flex-direction: column;
  }

  .login-container button {
    width: 80%;
  }

  .player-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .team-selector {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .team-selector {
    display: none;
  }
}